#mesh-div {
    margin:0px;
    padding:0px;
    margin-top:5px;
}

#mesh-svg {
    padding:0px;
    margin:0px;
    border:2px;
    border-style: solid;
    width:100%;
}

.mesh-line {
    stroke-width:1;
    stroke:rgb(200,200,200);
}

#arrow {
    stroke-width:2;
    stroke:rgb(0,0,200);
}

#arrow-head {
    fill:rgb(0,0,200);
}

#arrow-origin {
    fill:rgb(0,0,200);
}

.path-face {
    fill:rgba(100, 200, 100,0.5);
}

.path-edge {
    stroke-width:3;
    stroke:rgba(150,0,200,0.5); 
}

.path-stats-text {
    font-family:"Verdana"; 
    font-size:35;
    fill:rgba(150,0,200,0.8); 
}

.warning {
    color: rgb(200,80,80);
}
