html, body {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#content-div {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#menu-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: lightgray;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 30px;
}

#status-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: lightgray;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-height: 25px;
}

.menu-item {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

select {
    font-size: 16px;
    font-family: sans-serif;
}

#mesh-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0px;
    padding:0px;
    flex-grow: 2;
}

#mesh-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
    margin:0px;
    flex-grow: 2;
}

.mesh-line {
    stroke-width:100;
    stroke:rgb(200,200,200);
}

#arrow {
    stroke-width:200;
    stroke:rgb(0,0,200);
}

#arrow-head {
    fill:rgb(0,0,200);
}

#arrow-origin {
    fill:rgb(0,0,200);
}

.path-face {
    fill:rgba(100, 200, 100,0.5);
}

.path-edge {
    stroke-width:300;
    stroke:rgba(150,0,200,0.5); 
}

.path-stats-text {
    font-family:"Verdana"; 
    font-size:35;
    fill:rgba(150,0,200,0.8); 
}

.warning {
    color: rgb(200,80,80);
}

.facecount {
    color: rgba(80, 160, 80);
}

.orientcount {
    color: rgba(150,0,200); 
}
